body{

    font-family: 'Roboto', sans-serif;
    background-image: url("../images/gravel.png");
    background-repeat: repeat;
}

a {
    color: #96a0a9;
}
.navbar-expand{
    font-family: 'Merriweather', serif;
    color: white;
    background-color: white;
}

.carousel-caption{
    background-color: #4AAAA5;

}

.navbar-brand{
    color: white;
    padding: 30px;
}

.container {
    margin-top: 50px;
    background: white;
    min-height: 650px;
}

.namebox {
    position: absolute;
    top: 0;
    left: 0;
    height: 76px;
    padding: 10px;
    background-color: #4AAAA5;
    font-family: 'Merriweather', serif;
    font-size: 1.7em;
    color: white;

}
.container {
    margin-bottom: 50px;
}
.aboutme{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding-top: 20px;
    color: #4AAAA5;
}
.imagebox{
    margin-bottom: 20px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .imagebox{-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%}
}
.footer{
    color: #BCB2A3;
    position: absolute;
    text-align: center;
    background: #666666;
    font-size: .8em;
    background-color: #666666;
    height: 60px;
    width: 100%;
    border-top: solid 4px #4AAAA5;

}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .namebox{
    position: absolute;
    top: 0px;
    left: 11%;
    color: white;
    padding: 25px;
    background: #4AAAA5;
    font-size: 2em;
    float: left;
  }
    
  }

@media (min-width: 768px) {
    .navbar .navbar-nav {
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
